/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*-------------------- ROOT VARIABLES --------------------*/
h1 {
    font-family: "Bebas Neue";
    font-size: 40px;
    font-weight: 400;
}

h2 {
    font-family: "Bebas Neue";
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-family: "Bebas Neue";
    font-size: 25px;
    font-weight: 400;
}

p {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}

nav {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}

nav a {
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: 400;
}

nav span {
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: 400;
}

li {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}

menu li {
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: 400;
}

#social li {
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: 400;
}

dd {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}

dt {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
}

input {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
}

footer {
    font-family: "Bebas Neue";
    font-size: 20px;
    font-weight: 400;
}

/* COLORS */
:root {
    --black: #0D0D0D;
    --white: #F2F2F2;
    --dk-blue: #7ABFBF;
    --lt-blue: rgba(122, 191, 191, .5);
    --orange: #EB5428;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
/* Provided Small Starter CSS */
nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
}

nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}

nav li img {
    display: none;
}

nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}

nav span {
    display: block;
    position: relative;
}

nav label svg {
    display: block;
}

label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

nav input {
    display: none;
}

nav input:checked ~ ul {
    max-height: 550px;
}

nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

/* Start Here */
body {
    min-width: 414px;
}

/*-------------------- MEDIA QUERY (medium) --------------------*/
@media (min-width: 768px) {
    
}

/*-------------------- MEDIA QUERY (large) --------------------*/
@media (min-width: 1280px) {

}